.panel-body{
    font-size:115%;
}
.institution{
    font-weight: bold;
}
.dates{
    font-style: italic;
}
.degreelevel{
    font-style: italic;
}
.degreefield{
    font-style: italic;
}
.gpa{
    font-size:90%;
    font-weight: bold;
}