<h3>Education</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <div *ngFor='let e of educationListings'>
      <div class="row" *ngFor="let d of e.degrees">
        <div class="col-xs-5">
          <span class="degreelevel">{{d.level}}</span>
          <span class="degreefield">{{d.area}}</span>
          <span class="gpa">(GPA: {{d.gpa | number:'1.2-2'}})</span></div>
        <div class="col-xs-4"><span class="institution">{{e.institution}}</span></div>
        <div class="col-xs-3"><span class="pull-right dates">{{e.attended | daterange}}</span></div>
      </div>
    </div>
  </div>
</div>
<!--<ul *ngIf='e.extras.length > 0'>
    <li *ngFor='let x of e.extras'>
      {{x}}
    </li>
</ul>-->