<h3>Experience</h3>
<div class="panel panel-default" *ngFor='let e of experience'>
  <div class="panel-heading">
      <span class="jobTitle">{{e.jobTitle}}</span>
      <span class="company">{{e.company}}</span>
      <span class="pull-right dates">{{e.dates | daterange}}</span>
  </div>
  <div class="panel-body">
    <div *ngFor='let proj of e.projects'>
      <h4>{{proj.name}}</h4>
      <div>{{proj.description}}</div>
      <div>
        <ul>
          <!-- using [innerHtml] here introduces an XSS vulnerability, but since
          we're only displaying non-input data it's not an issue. -->
          <li *ngFor='let acc of proj.accomplishments' [innerHtml] ="acc | tagmarker:skills">
          </li>
        </ul>
      </div>
      <!--<div *ngIf='proj.skills.length > 0'>
        <span class="">Skills:</span>
        <skills-display [skills]="proj.skills"></skills-display>
      </div>-->
    </div>
  </div>
</div>
