<div *ngIf="groupByType===true">
    <div *ngFor="let grouping of getSkillsGroupedByType()">
        <span>{{grouping.type | capitalize}}</span>
        <ul class="list-inline skills">
            <li class="label label-primary" *ngFor='let skill of grouping.skills'>
                {{skill.name}}
            </li>
        </ul>
    </div>
</div>
<div *ngIf="groupByType===false">
<ul class="list-inline skills">
    <li class="label label-primary" *ngFor='let skill of skills'>
        {{skill.name}}
    </li>
</ul>
</div>